.banner {
    text-align: center;
    padding: 143px 0 129px;
    box-sizing: border-box;
    background: url(../assets/images/index/banner_img.png) no-repeat top;
    h2 {
        font-size: 42px;
        color: #2a3052;
        font-weight: bold;
    }
    h4 {
        font-size: 20px;
        color: #333;
        margin: 47px 0 82px;
    }
    .a-box {
        font-size: 0;
        a {
            width: 272px;
            height: 60px;
            border-radius: 5px;
            display: inline-block;
            color: #fff;
            font-size: 18px;
            line-height: 60px;
        }
        a.a-consult {
            background-color: #2a3052;
            margin-right: 30px;
        }
        a.a-account {
            background-color: #e98024;
        }
    }
}

.box {
    .title {
        font-size: 28px;
        color: #e98024;
    }
    ul {
        font-size: 0;
        li {
            display: inline-block;
        }
    }
}

.b1 {
    ul {
        margin: 72px 0 82px;
        li {
            width: 16.6%;
            padding: 0 40px;
            box-sizing: border-box;
            color: #333;
            cursor: pointer;
            transition: all .3s;
            i {
                width: 37px;
                height: 37px;
                display: block;
                margin: 0 auto 19px;
                background: url(../assets/images/index/index_icon.png) 0 0 no-repeat;
            }
            b {
                font-size: 18px;
                margin-bottom: 7px;
                display: block;
                line-height: 1;

            }
            p {
                font-size: 16px;
                line-height: 30px;
            }
        }
        li:hover {
            transform: translateY(-10px);
        }
        .li-2 i {
            width: 40px;
            background-position-x: -78px;
        }
        .li-3 i {
            width: 44px;
            background-position-x: -154px;
        }
        .li-4 i {
            width: 43px;
            background-position-x: -234px;
        }
        .li-5 i {
            width: 31px;
            background-position-x: -318px;
        }
        .li-6 i {
            width: 34px;
            background-position-x: -395px;
        }
    }
    .split {
        width: 800px;
        height: 1px;
        background-color: #e6e6e6;
        display: block;
        margin: 0 auto;
    }
}

.b2 {
    padding: 85px 0 68px;
    .nav-top {
        margin-top: 60px;
        border-bottom: 1px solid #dfdfdf;
        ul {
            height: 48px;
            float: left;
            position: relative;
            li {
                width: 150px;
                font-size: 20px;
                color: #333;
                line-height: 48px;
                cursor: pointer;
            }
            i {
                width: 150px;
                height: 3px;
                display: block;
                background-color: #2a3052;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .more-a {
            font-size: 14px;
            color: #333;
            line-height: 48px;
            float: right;
        }
    }
    .nav-content {
        padding-top: 47px;
        .left-box {
            padding: 0 90px 0 70px;
            float: left;
            .img-box {
                width: 385px;
                height: 219px;
                border: 1px solid #b6b6b6;
                margin-bottom: 24px;
            }
            a {
                width: 160px;
                height: 42px;
                line-height: 42px;
                font-size: 16px;
                color: #fff;
                background-color: #2e8836;
                text-align: center;
                display: block;
                margin: 0 auto;
                border-radius: 5px;
            }
        }
        ul {
            float: right;
            width: 570px;
            li {
                cursor: pointer;
                position: static;
                display: block;
                border-bottom: 1px solid #eaeaea;
                // height: 48px;
                text-align: left;
                .content-box {
                    width: 420px;
                    padding-left: 20px;
                    line-height: 48px;
                    float: left;
                    p.li-title {
                        font-size: 16px;
                        color: #333;
                        line-height: 48px;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                        i {
                            width: 6px;
                            height: 6px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 13px;
                            border-radius: 50%;
                            background-color: #2e8836;
                        }
                    }
                    p.li-content {
                        display: none;
                    }
                }
                span.date {
                    position: static;
                    float: right;
                    font-size: 14px;
                    color: #b6b5b5;
                    line-height: 48px;
                }
            }
            li:last-child {
                border-bottom: none;
            }
            li.active {
                position: relative;
                .content-box {
                    p.li-title {
                        font-size: 20px;
                        line-height: 1;
                        margin-bottom: 13px; 
                        font-weight: bold;
                    }
                    p.li-content {
                        overflow : hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        font-size: 16px;
                        line-height: 28px;
                        margin-bottom: 10px;
                    }
                }
                span.date {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}

.b3 {
    padding: 68px 0 332px;
    background: url(../assets/images/index/b3_img.png) no-repeat bottom;
    background-color: #f2f2f2;
    span.title2 {
        font-size: 16px;
        color: #333;
        display: block;
        margin: 24px auto 87px;
    }
    .content-box {
        padding: 0 226px 0 240px;
        box-sizing: border-box;
        ul.left-ul {
            width: 435px;
            float: left;
            li {
                display: block;
                text-align: left;
                p {
                    font-size: 16px;
                    color: #5e5e5e;
                    line-height: 28px;
                }
                p.li-title {
                    font-weight: bold;
                    i {
                        width: 5px;
                        height: 5px;
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 8px;
                        background-color: #2e8836;
                        vertical-align: middle;
                    }
                }
            }
        }
        ul.right-ul {
            float: right;
            li {
                display: block;
                width: 175px;
                height: 50px;
                border-radius: 5px;
                background-color: #2585ff;
                margin-bottom: 22px;
                cursor: pointer;
                i {
                    width: 23px;
                    height: 27px;
                    display: inline-block;
                    background: url(../assets/images/index/index_icon.png) -10px -101px no-repeat;
                    vertical-align: -7px;
                    margin-right: 14px;
                }
                span {
                    display: inline-block;
                    line-height: 50px;
                    font-size: 16px;
                    color: #fff;
                }
            }
            .li-2 {
                background-color: #1e2835;
                i {
                    width: 22px;
                    background-position-x: -93px;
                    margin-right: 24px;
                }
            }
            .li-3 {
                background-color: #2e8836;
                margin-bottom: 0;
                i {
                    width: 24px;
                    background-position-x: -174px;
                }
            }
        }
    }
}